django
djangorestframework
django-cors-headers
requests
mutagen
musicbrainzngs
apscheduler
yt-dlp
whitenoise
pytest
pytest-django
pytest-mock
mypy
types-requests
types-setuptools
django-stubs
djangorestframework-stubs
pycryptodome
